.form-text-small {
    padding: 3px 0px;
    padding-right: 100px;
    padding-left: 15px;
}

.form-text-medium {
    padding: 5px 0px;
    padding-right: 100px;
    padding-left: 15px;
}

.form-text-large {
    padding: 10px 0px;
    padding-right: 100px;
    padding-left: 15px;
}

.form-select-small {
    padding: 3px 0px;
    padding-right: 50px;
    padding-left: 15px;
}

.form-select-medium {
    padding: 5px 0px;
    padding-right: 100px;
    padding-left: 15px;
}

.form-select-large {
    padding: 10px 0px;
    padding-right: 100px;
    padding-left: 15px;
}

.form-text {
    font-size: 14px;
    text-align: left;
}

.form-select {
    appearance: none;
    background: url("../../images/arrow-down.png") 90% / 3% no-repeat #fafafb;
    font-size: 10px;
    text-align: left;
}

.shadow {
border: none;
background-color: lightgray;}
